In [10]:
import os
import pandas as pd
import webbrowser

from DataExtractor import DataExtractor
from VizTools import *

from folium.plugins import TimeSliderChoropleth
import folium
import geopandas as gpd
print("All modules loaded")

All modules loaded

In [3]:
# Set the path variables
_path = os.path.join(os.getcwd(), "datasets/crime")

year = 2017
db = "crime_data"
columns_to_select = ["Arrest", 
                     "Date", 
                     "Year", 
                     "crime_count", 
                     "day", 
                     "month", 
                     "Location",
                     "Ward"
                     ]

print("Pulling year:", year)
cols = ''.join(s+", " for s in columns_to_select)
query = "SELECT " + cols[:-2] + " FROM crime_" + str(year) + " LIMIT 50000;"
# print(query)
data_extractor = DataExtractor()
year_data = data_extractor.read_db(db=db, query=query)
print("Pulled", year_data.shape[0], "rows of data for year", year)

Pulling year: 2017
Pulled 50000 rows of data for year 2017

In [5]:
year_data.head()

,Arrest,Date,Year,crime_count,day,month,Location,Ward
0,0,2017-01-01 00:01:00,2017,1,1,1,"(41.692358646, -87.623096746)",34.0
1,0,2017-01-01 00:01:00,2017,1,1,1,None,27.0
2,0,2017-01-01 00:01:00,2017,1,1,1,"(41.795355464, -87.669480927)",16.0
3,0,2017-01-01 00:01:00,2017,1,1,1,"(41.942810782, -87.721574491)",30.0
4,0,2017-01-01 00:01:00,2017,1,1,1,None,2.0

In [11]:
# Clean the data and prep it for visualisation
print_columns(year_data)

Dataframe columns :
	 Arrest	 Date	 Year	 crime_count	 day	 month	 Location	 Ward

In [13]:
year_group_data = year_data.groupby(by=["Ward", "month"], as_index=False).count()

In [14]:
wards = year_data["Ward"].unique()
months = year_data["month"].unique()
# Get each ward

# for month in months:
#     monthly_ward_data = year_data

array([34., 27., 16., 30.,  2., 15.,  5., 24., 13., 31., 22., 28., 12.,
       25., 20., 45., 29., 17., 49.,  7.,  9.,  6., 38., 23., 21.,  4.,
        8., 48., 36., 10., 33., 32., 18., 14., 47., 26., 11.,  3., 42.,
       39., 46.,  1., 35., 37., 19., 43., 50., 44., 41., 40.])

In [16]:
# Get the mapping boundaries for the choropleth map
max_val = ward_data["crime_count"].max()

n_steps = 6
step = int(max_val / n_steps)
th_scale = list(range(0, int(max_val + step), step))

ward_data["ward"] = ward_data["ward"].astype('int')

In [20]:
chicago_coordinates = (41.895140898, -87.624255632)
map1 = choropleth_map(data_path=_path,
                      data=ward_data,
                      start_coord=chicago_coordinates,
                      threshold_scale=th_scale)
map1

True

In [23]:
import webbrowser
filepath = os.path.join(_path, str(year)+'.html')
map1.save(filepath)
webbrowser.open('file://' + filepath)

True